{% extends 'layout.kmphtml.twig' %}
{% block title %}HACKATHON DEVFEST-CI 2022 | Groupe N°{% endblock %}
{% block contenu %}

    <!-- ABOUT -->
    <section id="about">
        {% if message == 'succes' %}
        <div class="row">
            <div class="col-md-6 offset-md-3 alert alert-success alert-dismissible fade show text-center" role="alert">
                {{ message_succes }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% elseif message == 'no_succes' %}
        <div class="row">
            <div class="col-md-6 offset-md-3 alert alert-danger alert-dismissible fade show text-center" role="alert">
                {{ message_echec }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% elseif message == 'echec' %}
            <div class="row">
                <div class="col-md-6 offset-md-3 alert alert-warning alert-dismissible fade show text-center" role="alert">
                    {{ message_existe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="info-box">
                                <img src="files/{{ groupe_id.Image }}" class="border border-5" alt="">
                                <div class="ms-4">
                                    <h3 class="text-uppercase">{{ groupe_id.Title }}</h3>
                                    <p>{{ groupe_id.Description }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="files/{{ groupe_id.Image }}" alt="">
                </div>
                <div class="col-lg-3 table-responsive">
                    <table class="table table-bordered table-dark">
                        <caption class="text-nowrap text-uppercase">Nombre de votant<br>pour le groupe {{ groupe_id.Title }}</caption>
                        <thead>
                            <tr>
                                <th class="text-center">Votes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">{{ nb_vote }}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            {% if session %}
            <div class="text-center">
                <form method="post">
                    <div class="col-12" hidden>
                        <input type="text" value="{{ groupe_id.idprojet }}" name="idprojet" class="form-control" id="userName" aria-describedby="emailHelp">
                    </div>
                    <div class="col-12" hidden>
                        <input type="text" name="idvotant" class="form-control" id="userName" value="{{ log_con[0].idvotant }}" aria-describedby="emailHelp">
                    </div>
                    <button  type="submit" name="vote"  class="btn btn-brand">VOTE</button>
                </form>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock %}